.review-title {
	z-index:2;
	position:fixed;
	width:100%;
	background:url("../../img/page/review/review_title2.jpg") no-repeat;
	background-size:cover;
	background-position:center;
	height:0;
	top:100px;
	transition: all 1.5s;
	text-align:center;
	padding-top:50px;
	padding-bottom:30%;
	color:#FFFCF9;
}

#span-back{
	padding:0px;
	position:absolute;
	background-color:transparent;
	height:7vw;
	width:30%;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	backdrop-filter:blur(3px);
  	border-radius:10px;
}

.review-title > span {
	font-size:7vw;
	font-family: "Bona Nova SC", serif;
	position:absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	color:#FFFAF2;
}

.review-wrap{
	opacity:0;
	position:fixed;
	width:80%;
	left:10%;
	transition: all 1.1s;
	margin:0 auto;
	margin-top: 130px;
	margin-bottom:400px;
	font-size:30px;
	text-align:center;
	overflow: auto;
	font-family:'Gowun Batang';
	color: #6A3D17;
}
.review-write-wrap{
	position:static;
	width:80%;
	left:10%;
	transition: all 1.1s;
	margin:0 auto;
	margin-top: 130px;
	font-size:30px;
	text-align:center;
	overflow: auto;
	font-family:'Gowun Batang';
	color: #6A3D17;
}
#review-write-search{
	display: flex;
	align-items: center;
	padding: 1vw 1vw;
}
#review-sort-search{
	overflow: auto;
	display: flex;
	align-items: center;
    margin-top: 30px;
}
#review-write{
	font-size: 1.6vw;
	width: 8%;
	height: 3.0vw;
    cursor: pointer;
	text-align: center;
	line-height: 3vw;
	color: #fff;
	border-radius: 4px;
	position: absolute;
    right: 10%;
    background: #6a3d17e0;
}
#review-write:hover{
	font-weight: bold;
	background: #6A3D17;
}
.review-search{
	text-align: right;
	float: right;
	width: 70%;
	margin-left: auto;
}
.review-search select, .review-search input{
	box-sizing: border-box;
	height: 3.0vw;
	border-radius: 5px;
	font-size: 1.6vw;
	vertical-align: middle;
	border: 1px solid #ddd;
}
.review-search #searchWord{
    width: 23%;
}
#review-search-btn{
	color: white;
    background: #6a3d17e0;
    border-radius: 4px;
    width: 10%;
    height: 3.0vw;
    cursor: pointer;
}
.review-search>input[type=text]{
	width: 30%;
}
#review-select-sort{
	display: flex;
	font-size: 1.6vw;	
	width: 25%;
}
#review-select-sort>li{
	width: 25%;
}
#review-select-sort>#sort{
	font-weight: bold;
}
#review-select-sort a:hover{
	font-weight: bold;
}
#review-search-result{
	text-align: center;
}
.review-list-grid-box{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/*
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 
				1px 1px 1px 0px rgba(186, 179, 172, .6), 
				1px 1px 1px 0px rgba(186, 179, 172, .6);
	*/
	padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
   	margin-bottom: 60px;
   	width: 99%;
}
.review-list-grid-item{
	width: 95%;
	margin: 10px auto;
	font-size: 1.5vw;
	padding-top: 24px;
}
.review-list-img{
	margin: 0 auto;
	width: 88%;
    height: 16.3vw;
	background: #fff;
	border-radius: 5px;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 
				1px 1px 1px 0px rgba(0, 0, 0, .6), 
				0.5px 0.5px 0.5px 0px rgba(0, 0, 0, .6);
	transition: all 0.7s;
	margin-bottom: 0.8vw;
	
	background:url("../../img/page/review/305-1.jpg") no-repeat;
	background-size:cover;
	background-position:center;
}
.review-list-img:hover{
	transform: scale(1.07);
	cursor: pointer;
}
.review-list-title{
	border-bottom: 1px solid #6a3d175c;
	width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.review-list-title:hover{
	font-weight: bold;
	cursor: pointer;
}
.review-list-title>li{
	font-size: 1.4vw;
}
.review-list-title>li:nth-child(1){
	width: 65%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
    padding-left: 10px;
}
.review-list-title>li:nth-child(2){
	width: 35%;
	float: left;
	text-align: right;
	box-sizing: border-box;
    padding-right: 10px;
}

#paging{
	display: flex;
	width: 30%;
	margin: 30px auto;
}
#paging>li{
	width: 20%;
    margin: auto;
}

/* modal */
#review-list-modal{
	font-family:'Gowun Batang';
	font-size: 1.3vw; 
	width: 80%;
	height: 0;
	padding-bottom: 40%;
	/*background: transparent;*/
	background: #e1d7ce;
	backdrop-filter: blur(6px);
	/*z-index: 10;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	position: fixed;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 
				2px 2px 7px 0px rgba(106, 61, 23, .6), 
				1px 1px 3px 0px rgba(106, 61, 23, .6);
	opacity:0;
	z-index:-5;
	transition: opacity 0.7s;
}
#modal-exit{
	text-align: right;
	padding-right: 20px;
	cursor: pointer;
	font-size: 2vw;
}
#modal-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	width:80%;
	height:80%;
	left:10%;
	top:10%;
}
#modal-img{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}
#modal-img-main{
	margin: 0 auto;
	width: 90%;
	height: 27vw;
	border-radius: 15px;
	margin-bottom: 10px;
}
#modal-img-main>div{
	border-radius: 6px;
}
#modal-img-list{
	margin: 0 auto;
	width: 70%;
}
#modals>li{
	border-radius: 4px;
}
#modal-img-list>ul{
	display: flex;
	list-style: none;
	justify-content: space-around;
}
#modal-img-list>ul li{
	width: 18%;
	height: 3.91vw;
}
.modal-img-mini{
	width: 18%;
	grid-template-columns: 1fr 1fr;
}
#modal-contents{
	box-sizing: border-box;
	width: 100%;
	height: 32vw;
	background: #fff;
	padding: 10px;
	border-radius: 15px;
}
#modal-subject{
	text-align: center;
}
#modal-contents>ul{
	display: flex;
}
#modal-contents>ul li{
	width: 25%;
}
#modal-contents>ul li:nth-child(2n+1){
	border-bottom: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
    width: 21%;
    text-align: center;
}
#modal-contents>ul li:nth-child(2n){
    width: calc((100% - 21%)/2);
    text-align: center;
}
#modal-content{
	overflow-y: scroll;
	/*
	max-width: 28vw;*/
	width: 29vw;
	height: 15vw;
    min-height: 100px;
    margin-top: 3%;
    white-space: pre-line;
    margin-bottom: 1.3vw;
    padding-left: 14px;
}
/* scrollbar */
#modal-content::-webkit-scrollbar {
    width: 7px; 
    height: 7px;
}
#modal-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

#modal-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); 
}

#modal-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}
#btn>input[type=button]{
	color: white;
    background: #6a3d17e0;
    border-radius: 4px;
    cursor: pointer;
    width: 7%;
    height: 2.3vw;
    font-size: 1.3vw;
    
}
#btn>input[type=button]:hover{
	background: #6A3D17;
}
#editBtn{
	position: absolute;
	right: 11%;
}
#delBtn{
	position: absolute;
	right: 2%;
}

input[type=button]{
	width: 20%;
}

/* review write page */
#write-box{
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 
				2px 2px 7px 0px rgba(186, 179, 172, .6), 
				3px 3px 5px 0px rgba(186, 179, 172, .6);
	padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 90px;
   	margin-bottom: 60px;
   	width: 80%;
}
#review-write-form{
	width: 90%;
	margin: 0 auto;
	font-size: 1.7vw;
	font-family: 'Gowun Batang';
	color: #6A3D17;
}
#write-title{
	font-family: "Bona Nova SC", serif;
	font-size: 45px;
	margin-bottom: 10px;
}
#form-subject, #write-username, #write-writedate-hit, #write-roomno-rating{
	display: flex;
	text-align: left;
}
#form-subject>div, #write-username>div, #write-writedate-hit>div, #write-roomno-rating>div{
	width: 30%;
}
#form-roomno{
	align-items: center;
}
#reservno{
	height: 28px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
#form-subject>#form-subject-div{
	width: 10%;
}
#form-subject>input[type=text]{
	width: 98%;
	height: 2vw;
	border-radius: 5px;
    border: 1px solid #ddd;
    /*margin: 0.5vw 0;*/
    margin: 0 auto;
    margin-top: 0.5vw;
    
}
#form-rating{
 	margin-left: auto;
 	text-align: right;
}
#form-rating>input[type=text]{
	width: 20%;
}
#alert-subject{
	padding-left:10px;
	font-family: "Gowun Batang", serif;
	color:#ED494C;
	line-height:27px;
	transition: all 1.0s;
	opacity:0;
	font-size:13px;
	text-align: left;
	height: 27px;
}
#alert-content{
	padding-left:10px;
	font-family: "Gowun Batang", serif;
	color:#ED494C;
	line-height: 27px;
	transition: all 1.0s;
	opacity:0;
	font-size:13px;
    text-align: left;
    height: 27px;
}
#alert-file{
	padding-left:10px;
	font-family: "Gowun Batang", serif;
	color:#ED494C;
	line-height:25px;
	transition: all 1.0s;
	opacity:0;
	font-size:65%;
}
textarea{
	width: 99%;
	height: 20vw;
	box-sizing: border-box;
	border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
}
#upload-review-img{
	display: flex;
}
#upload-review-img>div:nth-child(1){
	width: 50%;
	text-align: left;
}
#upload-filename {
	width: 50%;
    text-align: right;
    font-size: 70%;
    position: relative;
    left: 49%;
    top: -30px;}
#preview{
	position: absolute;
	font-size:70%;
    margin-left: 0.5%;
    text-align: left;
}
#preview>p{
	padding:0;
	margin: 2px;
}
#preview>p>button {
	background-color: transparent;
    border: 0;
    cursor: pointer;
    color:#6a3d17e0;
}
.input-file-button{
  margin-left:0.5%;
  padding: 0.5% 1.5%;
  height:25px;
  line-height:25px;
  background-color:#6a3d17e0;
  border-radius: 4px;
  color: white;
  font-size:65%;
  cursor: pointer;
  transition:all 0.5s;
}
.input-file-button:hover{
	background: #6A3D17;
}
#write-submit{
	color: white;
	background: #6a3d17e0;
    border-radius: 4px;
    width: 17%;
    height: 2.2vw;
    margin-top: 15%;
    font-size:1vw;
    cursor: pointer;
}
#write-submit:hover{
	background: #6A3D17;
}

.modal-star-box{
	position:relative;
	top:0.3vw;
	margin:auto;
	width:7.04vw;
	height:1.28vw;
}

.modal-star-fill{
	position:absolute;
	height:100%;
	background:url('../../img/public/star_fill.png') no-repeat;
	background-size:cover;
	z-index:2;
	transition:none;
	will-change: transform;
}

.review-star-box{
	position:relative;
	top:0.8vw;
	margin:auto;
	width:4.928vw;

	height:0.896vw;

}

.review-star-fill{
	position:absolute;
	height:100%;
	background:url('../../img/public/star_fill.png') no-repeat;
	background-size:cover;
	z-index:2;
	transition:none;
	will-change: transform;
}

#modal-rating-style{
	height:2vw;
}

/*review_main.jsp*/
@media(max-width:1024px){
	#review-list-modal{
		width: 819.2px;
		padding-bottom: 409.6px;
		font-size: 13.312px;
	}
	#modal-img-main {
        height: 276.48px;
    }
	#modal-img-list>ul li {
	    width: 18%;
	    height: 40.0384px;
    }
    #modal-contents {
       height: 327.68px;
    }

	#review-select-sort{
		font-size: 16.384px;
       	width: 200px;
	}
	
	#sort, #sort-hit, #sort-rating{
	    width: 50px;
	}
	
	.review-list-grid-box{
		grid-template-columns:repeat(2, 1fr);
	}
	.review-list-grid-item{
		/*width: 95%;*/
		font-size: 15.36px;
	}
	.review-list-img{
        height: 32.554vw;
	}
	.review-list-title>li{
	/*
		font-size: 13.312px;*/
		font-size: 14.336px;
	}
	#modal-content{
		height: 153.6px;
		margin-bottom: 13.312px;
		width: 296.96px;
	}
	#review-write{
		font-size: 16.384px; 
		width: 78px;
		height: 30.72px;
		line-height: 30.72px;
	}
	.review-write-wrap{
		width: 819.2px;
	}
	#review-write-form{
		font-size: 17.408px;
	}
	#form-subject>input[type=text]{
		height: 20.48px;
	    margin: 5.12px 0;
	}
	#write-submit{
		height: 22.528px;
	}
	#btn>input[type=button]{
		height: 23.552px;
		font-size: 13.312px;
	}
}

@media(min-width:1400px){
	.review-list-img{
		/*
		width: 265px;
        height: 265px;
        */
        
       	width: 16vw;
       	height: 16vw;  
	}
	#review-list-modal{
		width: 1120px;
		padding-bottom: 560px;
		font-size: 18.2px;
	}
	#modal-img-main{
		height: 378px;
	}
	#modal-img-list>ul li{
		height: 46.62px;
	}
	#modal-contents{
		height: 448px;
	}
	#modal-content{
		height: 210px;
		margin-bottom: 18.2px;
		width: 406px;
	}
	
	#searchConcept, #searchKey{
		height: 42px;
		font-size: 22.4px;
	}
	#searchWord{
		height: 41px;
	}
	#review-search-btn{
	    height: 39.2px;
	    font-size: 18.2px;
	}
	.review-list-title>li{
		font-size: 19.6px;
	}
	#review-write{
		font-size: 22.4px; 
		width: 100px;
		height: 42px;
		line-height: 42px;
	}
	#btn>input[type=button]{
		height: 32.2px;
		font-size: 18.2px;
	}
}
@media(min-width:1800px){
	.review-list-img{
		width: 275px;
        height: 275px;
        /*
       	width: 17vw;
       	height: 17vw;
        */
	}
	.review-wrap{
		width: 1400px;
	}
	.review-list-grid-item{
		font-size: 27px;
	}
	#review-select-sort {
	    font-size: 28.8px;
	    width: 450px;
	}
	/*
	#searchConcept, #searchKey{
		height: 54px;
		font-size: 28.8px;
	}
	#review-search-btn{
	    height: 54px;
	}
	*/
}


/*review_write.jsp*/
@media(max-width:1024px){
	.review-write-wrap{
		width: 819.2px;
	}
	#review-write-form{
		font-size: 17.408px;
	}
	#form-subject>input[type=text]{
		height: 20.48px;
	    margin: 5.12px 0;
	}
	#write-submit{
		height: 22.528px;
	}
	.review-star-box{
		position:relative;
		top:0.6vw;
		margin:auto;
		width:7.884vw;
		height:1.433vw;
	
	}
}
@media (min-width:1400px){	
	.review-write-wrap{
		width: 1300px;
	}
	#review-write-form{
		font-size: 23.8px;
	}
	#form-subject>input[type=text]{
		height: 28px;
	    margin: 7px 0;
	}
	#write-submit{
		height: 30.8px;
		font-size:14px;
	}
	#modal-img-list>ul li{
		width: 18%;
		height: 56px;
	}
	.modal-star-box{
		top:4.2px;
		width:98.56px;
		height:17.92px;
	}
	#modal-rating-style{
		height:28px;
	}
	.review-star-box{
		position:relative;
		top:11.2px;
		margin:auto;
		width:71.5px;
		height:12.54px;
	
	}
}