<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sc.main.dao.ReviewDAO">
	<select id="reviewSelect" resultType="com.sc.main.vo.ReviewVO">
		select * from review 
		<if test="searchWord!=null and searchWord!=''">
			<choose>
				<when test="searchKey!='total'"><!-- 전체검색이 아닐 때 -->
					where ${searchKey} like '%${searchWord}%'
				</when>
				<otherwise><!-- 전체검색 -->
					where (subject like '%${searchWord}%'
					or content like '%${searchWord}%'
					or roomno like '%${searchWord}%')
				</otherwise>
			</choose>
			<choose>
			<when test="searchConcept==0">
			</when>
			<otherwise>
				<![CDATA[and roomno > ${searchConcept}-100 and roomno < ${searchConcept}]]>
			</otherwise>
			</choose>	
		</if>
		limit ${onePageRecord} offset ${offset}
	</select>
	<select id="reviewDetail" resultType="com.sc.main.vo.ReviewVO">
		select reviewno, subject, content, userid, roomno, rating, date_format(writedate, '%Y-%m-%d') writedate from review where reviewno=#{param1}
	</select>
	<insert id="reviewInsert">
		insert into review (userid, roomno, rating, subject, content) 
		values (#{userid}, #{roomno}, #{rating}, #{subject}, #{content})
	</insert>
	<insert id="imgInsert">
		insert into reviewimg (reviewno, filename)
		values (#{reviewno}, #{filename})
	</insert>
	<select id="reviewImage" resultType="int">
		select reviewno from review where userid=#{param1} order by reviewno desc limit 1
	</select>
	<update id="reviewUpdate">
		update review set subject=#{subject}, content=#{content}, rating=${rating} 
		where reviewno=${reviewno}
	</update>
	<delete id="reviewDelete">
		delete from review where reviewno=${reviewno}
	</delete>
	<select id="reviewTotalRecord" resultType="int">
		select count(reviewno) cnt from review
		<if test="searchWord!=null and searchWord!=''">
			<choose>
				<when test="searchKey!='total'">
					where ${searchKey} like '%${searchWord}%'
				</when>
				<otherwise>
					where subject like '%${searchWord}%'
					or content like '%${searchWord}%'
					or roomno like '%${searchWord}%'
				</otherwise>
			</choose>
		</if>
	</select>
	<select id="reviewImageSelect" resultType="com.sc.main.vo.ReviewImgVO">
		select * from reviewimg where reviewno=${reviewno}
	</select>
</mapper>